@font-face{
    font-family: DogicaB;
    src: url("./fonts/dogicapixel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: DogicaBold;
    src: url("./fonts/dogicabold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: DogicaB;
    line-height: 1;
}

.center{
    text-align: center;
}